<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- {{ template "_internal/opengraph.html" . }}
  {{ template "_internal/twitter_cards.html" . }} -->
  {{ $css := resources.Get "styles/tailwind.pcss" | toCSS }}
  {{ $styles := $css | resources.PostCSS }}
  <link rel="stylesheet" href="{{ $styles.Permalink }}">
  {{ if .Title }}
    <title>{{ .Title }} - {{ .Site.Title }}</title>
  {{ else }}
    <title>{{ .Site.Title }}</title>
  {{ end }}
</head>
<body class="font-source-serif">
  {{ partial "navbar.html" . }}
  <main>
    {{ block "main" . }}{{ end }}
  </main>
  {{ partial "footer.html" . }}
  {{ $default_js := resources.Get "js/default.js" }}
  <script src="{{ $default_js.Permalink }}"></script>
  {{ block "scripts" . }}{{ end }}
</body>
</html>