<footer class="bg-charleston-green text-white py-12">
  <div class="mx-auto w-4/5">
    <a href='{{ ref . "metodologia.md" }}' class="text-charleston-green font-bold flex flex-col text-3xl items-start">
      <span class="bg-orange-soda">Conoce nuestra</span>
      <span class="bg-orange-soda">metodología</span>
    </a>
    <div class="mt-12 grid gap-12 grid-cols-1 md:grid-cols-2 lg:grid-cols-4">
      <div class="flex items-center justify-center">
        <img class="w-2/3 mx-auto" src='{{ "images/itpc.png" | absURL }}' alt="ITPC">
      </div>
      <div class="flex items-center justify-center">
        <img class="w-2/3 mx-auto invert" src='{{ "images/ds-vertical.svg" | absURL }}' alt="Datasketch">
      </div>
      <div class="flex flex-col items-center justify-center">
        <p class="font-bold text-3xl">Comparte</p>
        <div class="flex items-center space-x-3 mt-2">
          <a href="">
            <img src='{{ "images/tw.svg" | absURL }}' alt="" />
          </a>
          <a href="">
            <img src='{{ "images/mail.svg" | absURL }}' alt="" />
          </a>
          <a href="">
            <img src='{{ "images/fb.svg" | absURL }}' alt="" />
          </a>
        </div>
      </div>
      <div class="flex flex-col">
        <a href="https://creativecommons.org/licenses/by-sa/2.5/co/" class="flex items-center space-x-2 justify-center" target="_blank" rel="noopener noreferrer">
          <img class="w-8" src='{{ "images/cc_icon.png" | absURL }}' alt="">
          <img class="w-8" src='{{ "images/attribution_icon.png" | absURL }}' alt="">
          <img class="w-8" src='{{ "images/sa_icon.png" | absURL }}' alt="">
        </a>
        <p class="text-sm leading-tight mt-2">Todo el material en esta página, cuando no se indique lo contrario, es CC-BY-SA. Si reúsas o adaptas recursos de esta página por favor vincúlalos y referéncialos.</p>
      </div>
    </div>
  </div>
</footer>