<div class="overflow-x-auto">
  <table class="bg-hookers-green text-white text-lg md:text-xl table-fixed">
    <thead>
      <tr class="bg-white text-bottle-green text-center">
        <th colspan="5" class="px-4 py-2">
          Porcentaje de sobreprecio en la adquisición de ARV en el año 2019, considerando precios de referencia utilizados en este estudio (Precios expresados en Quetzales)
        </th>
      </tr>
      <tr>
        <th class="w-1/5 px-4 py-2">NOG Concurso (Fuente)</th>
        <th class="w-1/5 px-4 py-2">Nombre de medicamento según proyección de compra</th>
        <th class="w-1/5 px-4 py-2">Costo unitario frasco</th>
        <th class="w-1/5 px-4 py-2">Precio de referencia</th>
        <th class="w-1/5 px-4 py-2">% de sobreprecio</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-center px-4 py-2">10625364</td>
        <td class="text-center px-4 py-2">COBICISTAT + ELVITEGRAVIR + TENOFOVIR ALAFENAMIDA + EMTRICITABINA</td>
        <td class="text-center px-4 py-2">586.50</td>
        <td class="text-center px-4 py-2">560.10</td>
        <td class="text-center px-4 py-2">5%</td>
      </tr>
      <tr>
        <td class="text-center px-4 py-2">9757945</td>
        <td class="text-center px-4 py-2">COBICISTAT + ELVITEGRAVIR + TENOFOVIR ALAFENAMIDA + EMTRICITABINA</td>
        <td class="text-center px-4 py-2">586.55</td>
        <td class="text-center px-4 py-2">560.10</td>
        <td class="text-center px-4 py-2">5%</td>
      </tr>
      <tr>
        <td class="text-center px-4 py-2">9906118</td>
        <td class="text-center px-4 py-2">Raltegravir 100 mg tableta masticables frasco 60 tab </td>
        <td class="text-center px-4 py-2">393.22</td>
        <td class="text-center px-4 py-2">346.43</td>
        <td class="text-center px-4 py-2">14%</td>
      </tr>
      <tr>
        <td class="text-center px-4 py-2">10178228</td>
        <td class="text-center px-4 py-2">Zidovudina+Lamivudina+Nevirapina 300+150+200mg/tab</td>
        <td class="text-center px-4 py-2">195.00</td>
        <td class="text-center px-4 py-2">67.55</td>
        <td class="text-center px-4 py-2">189%</td>
      </tr>
      <tr>
        <td class="text-center px-4 py-2">9906118</td>
        <td class="text-center px-4 py-2">Raltegravir 400 mg tableta masticables frasco 60 tab</td>
        <td class="text-center px-4 py-2">1,946.25</td>
        <td class="text-center px-4 py-2">548.51</td>
        <td class="text-center px-4 py-2">255%</td>
      </tr>
      <tr>
        <td class="text-center px-4 py-2">10046518</td>
        <td class="text-center px-4 py-2">Ritonavir 100 mg / 30 cap</td>
        <td class="text-center px-4 py-2">384.60</td>
        <td class="text-center px-4 py-2">72.17</td>
        <td class="text-center px-4 py-2">433%</td>
      </tr>
      <tr>
        <td class="text-center px-4 py-2">11224363</td>
        <td class="text-center px-4 py-2">Darunavir 600mg tableta frasco 60 tab</td>
        <td class="text-center px-4 py-2">5,280.00</td>
        <td class="text-center px-4 py-2">577.38</td>
        <td class="text-center px-4 py-2">814%</td>
      </tr>
      <tr>
        <td class="text-center px-4 py-2">11323299</td>
        <td class="text-center px-4 py-2">Darunavir 600mg tableta frasco 60 tab</td>
        <td class="text-center px-4 py-2">5,280.00</td>
        <td class="text-center px-4 py-2">577.38</td>
        <td class="text-center px-4 py-2">814%</td>
      </tr>
      <tr>
        <td class="text-center px-4 py-2">11418346</td>
        <td class="text-center px-4 py-2">Darunavir 600mg tableta frasco 60 tab</td>
        <td class="text-center px-4 py-2">5,280.00</td>
        <td class="text-center px-4 py-2">577.38</td>
        <td class="text-center px-4 py-2">814%</td>
      </tr>
      <tr>
        <td class="text-center px-4 py-2">11577274</td>
        <td class="text-center px-4 py-2">Darunavir 600mg tableta frasco 60 tab</td>
        <td class="text-center px-4 py-2">5,280.00</td>
        <td class="text-center px-4 py-2">577.38</td>
        <td class="text-center px-4 py-2">814%</td>
      </tr>
      <tr>
        <td class="text-center px-4 py-2">11597321</td>
        <td class="text-center px-4 py-2">Darunavir 600mg tableta frasco 60 tab</td>
        <td class="text-center px-4 py-2">5,280.00</td>
        <td class="text-center px-4 py-2">577.38</td>
        <td class="text-center px-4 py-2">814%</td>
      </tr>
      <tr>
        <td class="text-center px-4 py-2">10166874</td>
        <td class="text-center px-4 py-2">Darunavir 600mg tableta frasco 60 tab</td>
        <td class="text-center px-4 py-2">5,918.40</td>
        <td class="text-center px-4 py-2">577.38</td>
        <td class="text-center px-4 py-2">925%</td>
      </tr>
      <tr>
        <td class="text-center px-4 py-2">10290745</td>
        <td class="text-center px-4 py-2">Darunavir 600mg tableta frasco 60 tab</td>
        <td class="text-center px-4 py-2">5,918.40</td>
        <td class="text-center px-4 py-2">577.38</td>
        <td class="text-center px-4 py-2">925%</td>
      </tr>
      <tr>
        <td class="text-center px-4 py-2">10802258</td>
        <td class="text-center px-4 py-2">Darunavir 600mg tableta frasco 60 tab</td>
        <td class="text-center px-4 py-2">5,918.40</td>
        <td class="text-center px-4 py-2">577.38</td>
        <td class="text-center px-4 py-2">925%</td>
      </tr>
      <tr>
        <td class="text-center px-4 py-2">11054727</td>
        <td class="text-center px-4 py-2">Darunavir 600mg tableta frasco 60 tab</td>
        <td class="text-center px-4 py-2">5,918.40</td>
        <td class="text-center px-4 py-2">577.38</td>
        <td class="text-center px-4 py-2">925%</td>
      </tr>
      <tr>
        <td class="text-center px-4 py-2">11131233</td>
        <td class="text-center px-4 py-2">Darunavir 600mg tableta frasco 60 tab</td>
        <td class="text-center px-4 py-2">5,918.40</td>
        <td class="text-center px-4 py-2">577.38</td>
        <td class="text-center px-4 py-2">925%</td>
      </tr>
      <tr>
        <td class="text-center px-4 py-2">11181435</td>
        <td class="text-center px-4 py-2">Darunavir 600mg tableta frasco 60 tab</td>
        <td class="text-center px-4 py-2">5,918.40</td>
        <td class="text-center px-4 py-2">577.38</td>
        <td class="text-center px-4 py-2">925%</td>
      </tr>
      <tr>
        <td class="text-center px-4 py-2">11226676</td>
        <td class="text-center px-4 py-2">Darunavir 600mg tableta frasco 60 tab</td>
        <td class="text-center px-4 py-2">5,918.40</td>
        <td class="text-center px-4 py-2">577.38</td>
        <td class="text-center px-4 py-2">925%</td>
      </tr>
      <tr>
        <td class="text-center px-4 py-2">10367292</td>
        <td class="text-center px-4 py-2">Raltegravir 400 mg tableta masticables frasco 60 tab</td>
        <td class="text-center px-4 py-2">6,726.00</td>
        <td class="text-center px-4 py-2">548.51</td>
        <td class="text-center px-4 py-2">1126%</td>
      </tr>
      <tr>
        <td class="text-center px-4 py-2">10929207</td>
        <td class="text-center px-4 py-2">Raltegravir 400 mg tableta masticables frasco 60 tab</td>
        <td class="text-center px-4 py-2">6,726.00</td>
        <td class="text-center px-4 py-2">548.51</td>
        <td class="text-center px-4 py-2">1126%</td>
      </tr>
      <tr>
        <td class="text-center px-4 py-2">11466677</td>
        <td class="text-center px-4 py-2">Etravirina 100 mg tableta frasco 120 tab</td>
        <td class="text-center px-4 py-2">6,301.20</td>
        <td class="text-center px-4 py-2">346.43</td>
        <td class="text-center px-4 py-2">1719%</td>
      </tr>
      <tr>
        <td class="text-center px-4 py-2">10367713</td>
        <td class="text-center px-4 py-2">Etravirina 100 mg tableta frasco 120 tab</td>
        <td class="text-center px-4 py-2">6,301.20</td>
        <td class="text-center px-4 py-2">346.43</td>
        <td class="text-center px-4 py-2">1719%</td>
      </tr>
      <tr>
        <td class="text-center px-4 py-2">10802835</td>
        <td class="text-center px-4 py-2">Etravirina 100 mg tableta frasco 120 tab</td>
        <td class="text-center px-4 py-2">6,301.20</td>
        <td class="text-center px-4 py-2">346.43</td>
        <td class="text-center px-4 py-2">1719%</td>
      </tr>
      <tr>
        <td class="text-center px-4 py-2">10873759</td>
        <td class="text-center px-4 py-2">Dolutegravir 50 mg</td>
        <td class="text-center px-4 py-2">3,801.00</td>
        <td class="text-center px-4 py-2">33.68</td>
        <td class="text-center px-4 py-2">11186%</td>
      </tr>
    </tbody>
  </table>
</div>