<div class="overflow-x-auto">
  <table class="bg-onyx text-white text-lg md:text-xl table-fixed">
    <thead>
      <tr class="bg-white text-charleston-green text-center">
        <th colspan="3" class="px-4 py-2 text-base">
          Total de adquisiciones de ARV protegidos con barreras legales en Guatemala con fondos públicos, en 2019 en 41 contratos de compra USD/GTQ
        </th>
      </tr>
      <tr>
        <th class="w-1/3 px-4 py-2"></th>
        <th class="w-1/3 px-4 py-2">GTQ</th>
        <th class="w-1/3 px-4 py-2">USD</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="leading-none px-4 py-2">Total de compra</td>
        <td class="text-center px-4 py-2">Q 2,146,463.06</td>
        <td class="text-center px-4 py-2">$278,821.06</td>
      </tr>
      <tr>
        <td class="leading-none px-4 py-2">Pudo haber costado</td>
        <td class="text-center px-4 py-2">Q 768,875.71</td>
        <td class="text-center px-4 py-2">$99,875.35</td>
      </tr>
      <tr>
        <td class="leading-none px-4 py-2">Se podría haber obtenido un ahorro de</td>
        <td class="text-center px-4 py-2">Q 1,377,587.35</td>
        <td class="text-center px-4 py-2">$178,945.72</td>
      </tr>
    </tbody>
  </table>
</div>